
.bg-orange-dark {
  background-color: #a77215;
}

.bg-orange-light {
  background-color: #fba61a;
}

.bg-purple {
  background-color: #961296;
}

.bg-green-light {
  background-color: #a4e73b;
}

.bg-blue-light {
  background-color: cadetblue;
}

.bg-blue-dark {
  background-color: #101091;
}