@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
/* @import "colors";
@import "responsive"; */

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(10, 17, 6, 0.87);
     background: -webkit-linear-gradient(
    to right,
    #eff167,
    #c9ffbf
  ); 
  background: linear-gradient(
    to right,
    #f1f45d,
    #98f288
  ); 
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */


}
body{
  margin: 0;
  padding: 0;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #74ffae;
  }
  button {
    background-color: #f1c3c3;
  }
}
